
# Project stuff
Debug/
Release/
debug*/
release*/
build*/
.cproject
.project
.settings
.autotools


# Application-generated stuff
*.log

# Compiler generated stuff
*.o
*.obj

# Autotools generated stuff
Makefile.in
aclocal.m4
ar-lib
compile
config.guess
config.h.in
config.h.in~
config.sub
configure
depcomp
install-sh
missing
autom4te.cache/
test-driver

# OS stuff
.DS_Store

